div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
un fondo rojo, texto blanco, un tamaño de fuente de 32 px, alineado al centro y en negrita