body {
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}
.div_uno {
    background-color: rgb(202, 161, 205);
    border: 3px solid blue;
    padding: 32px;
    margin: 12px;
}
.div_dos {
    background-color: rgb(142, 188, 209);
    border: 3px solid rgb(150, 50, 120);
    margin-bottom: 48px;
    
}
.div_tres {
    width: 100px;
    background-color: rgb(220, 186, 157);
    border: 3px solid rgb(191, 91, 25);
    padding: 32px;
    margin-left: auto;
}
/*
Div Uno y Div Tres tienen 32px entre el texto y el borde.
Div One tiene 12px entre él y cualquier otro elemento de la página.
Hay un espacio de 48 px entre la división dos y la división tres.
La división tres está alineada a la derecha.
La alineación de Div Tres se logra usando margin(y no float, flexbox, etc.).
*/