.titulo{
    text-align: center;
}
.conteiner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.conteiner p {
    width: 100px;
    text-align: center;
}
img {
    height: 100px;
    width: 100px;
}